<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Acceso Administrador</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="login">
    <h1>Login Administrador</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p style="color: red; text-align: center;">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}
    <form method="post" action="/admin">
      <input type="text" name="admin_user" placeholder="Usuario" required>
      <input type="password" name="admin_pass" placeholder="Contraseña" required>
      <button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
    </form>
  </div>
</body>
</html>
