<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro de Usuarios</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="top-bar">
    <a href="/admin" class="admin-button">Acceso Administrador</a>
  </div>

  <div class="login">
    <img src="/static/python-logo.png" alt="Python Logo" class="logo-top-left">
    <h1>Registro</h1>
    <form method="post" action="/register">
      <input type="text" name="nombre" placeholder="Nombre completo" required>
      <input type="text" name="identificacion" placeholder="Identificación" required>
      <button type="submit" class="btn btn-primary btn-block btn-large">Registrarse</button>
    </form>
  </div>
</body>
</html>
  